<!DOCTYPE html>
<html>

<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a th:href="'/'" class="navbar-brand">商城</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li th:if="${user eq null}"><a th:href="'/login/to_login/'">登录</a></li>
                    <li th:if="${user ne null}"><a th:text="${user.nickname}"></a></li>
                    <li th:if="${user ne null}"><a th:href="'/do_logout/'">登出</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="login-box well centered" id="login-menu">
                <h2 class="title">登录</h2>
                <form name="loginForm" id="loginForm" method="post" >
                    <div class="input-box input-group input-group-md">
                        <span class="input-group-addon" ><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" id="mobile" name="userid"
                            placeholder="手机号码" />
                    </div>
                    <div class="input-box input-group input-group-md">
                        <span class="input-group-addon" ><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="密码" />
                    </div>
                    <button class="btn btn-success btn-block" onclick="login()">登录</button>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    function login(){
        $("#loginForm").validate({
            submitHandler:function(form){
                 doLogin();
            }    
        });
    }
    function doLogin(){
        g_showLoading();
        
        var inputPass = $("#password").val();
        var salt = g_passsword_salt;
        var str = ""+salt.charAt(0)+salt.charAt(2) + inputPass +salt.charAt(5) + salt.charAt(4);
        var password = md5(str);
        
        $.ajax({
            url: "/login/do_login",
            type: "POST",
            data:{
                mobile:$("#mobile").val(),
                password: password
            },
            success:function(data){
                layer.closeAll();
                if(data.code == 0){
                    layer.msg("成功");
                    window.location.href="/";
                }else{
                    layer.msg(data.msg);
                }
            },
            error:function(){
                layer.closeAll();
            }
        });
    }
    </script>
</html>