<!DOCTYPE html>
<html>

<head>
    <title>秒杀失败</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <!-- css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/miaosha_fail.css}" />
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a th:href="'/'" class="navbar-brand">商城</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li th:if="${user eq null}"><a th:href="'/login/to_login/'">登录</a></li>
                    <li th:if="${user ne null}"><a th:text="${user.nickname}"></a></li>
                    <li th:if="${user ne null}"><a th:href="'/do_logout/'">登出</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2>秒杀失败</h2>
        <div class="well ">
            <h3 th:text="'原因：'+${errmsg}"></h3>
        </div>
    </div>

</body>
</html>
