body{
    font-family:Helvetica, sans-serif;
    overflow:auto;
    overflow-x: hidden;
}
.book-text{
    padding-top: 30px;
}

.content{
    padding-bottom: 20px;
    font-size: 20px;
}

.text{
    margin-top:25px;
    margin-bottom:25px;
    margin-left:5px;
}
.book{
    text-align: center;
}

.bookbtn{
    width: 100%;
}
