body{
    font-family:Helvetica, sans-serif;
}

.text{
    margin-top:100px;
    margin-left:5px;
}
.book{
    text-align: center;
}

.book-text{
    margin-top:40px;
}
.bookbtn{
    padding-top: 5px;
    width: 100%;
    margin: 0% auto;
}

.container {
    width: 60%;
}

.row {
    padding-top: 100px;
}


.emphasis{
    color: Brown;
    font-size: 25px;
}

.flat{
    color:rgb(95, 95, 95);
}

.btn  {
    background-color: crimson;
    font-size: 25px;
}

.block {
    background-color: rgb(247, 239, 231);
    vertical-align: middle;
}

.saparator{
    width:100%;
    color: black;
    size: 1;
}

.bookbtn{
    width: 100%;
}