body{
    font-family:Helvetica, sans-serif;
}

.text{
    margin-top:100px;
    margin-left:5px;
}
.book{
    text-align: center;
}

.book-text{
    margin-top:40px;
}
.bookbtn{
    padding-top: 5px;
    width: 100%;
    margin: 0% auto;
}