body{
    font-family:Helvetica, sans-serif;
    background-position: center center;
    background-size: cover;
    background-image: url("silver-background-2.jpg");
}

.centered {
    text-align:center;
    width:50%;
    margin:25px auto;
}

.checkbox{
    text-align:left;
}

.btn{
    margin-top: 10px;
}
.checkbox{
    margin-top: 10px;
}
.comment{
    margin-top: 10px;
}